{% comment %}
The Hourglass
{% endcomment %}

{{ 'style.css' | asset_url | stylesheet_tag }}

<style>
  :root {
    --bg: {{ section.settings.bg_color | default: '#6ca2ba' }};
    --text-color: {{ section.settings.text_color | default: '#ffc12f' }};
    --anim-duration: {{ section.settings.anim_duration | default: 10 }}s;
    --font-size: {{ section.settings.font_size | default: 9 }}px;
  }
</style>

<div>
  <span class="dusk"></span>
  <span class="dawn"></span>
  <div class="dunes-of-sand">
    {% for i in (1..2020) %}
      <span class="sand"></span>
    {% endfor %}
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 382.28 612.66"><defs><style>.cls-1{isolation:isolate;}.cls-2{fill:#b47d4c;}.cls-3{fill:#e6e6e6;}.cls-3,.cls-7{opacity:0.8;}.cls-10,.cls-3,.cls-5,.cls-7{mix-blend-mode:multiply;}.cls-11,.cls-4,.cls-8,.cls-9{fill:#fff;}.cls-4{opacity:0.1;}.cls-5{fill:#f2f2f2;}.cls-6{fill:#f3f3f3;opacity:0.2;}.cls-7{fill:#dedede;}.cls-8{opacity:0.35;}.cls-9{opacity:0.25;}.cls-10{fill:#eee;}.cls-11{opacity:0.09;}.cls-12{fill:#ba8353;}</style></defs><title>Asset 2</title><g class="cls-1"><g id="Layer_2" data-name="Layer 2"><g id="Hourglass"><g id="Hourglass-2" data-name="Hourglass"><rect class="cls-2" x="12.96" y="29.6" width="15.01" height="553.48"/><rect class="cls-3" x="12.96" y="29.6" width="3.56" height="553.48"/><rect class="cls-4" x="24.39" y="29.6" width="3.58" height="553.48"/><rect class="cls-5" x="12.96" y="39.03" width="15.01" height="6.18"/><rect class="cls-5" x="12.96" y="567.47" width="15.01" height="6.18"/><rect class="cls-2" x="354.32" y="29.6" width="15" height="553.48"/><rect class="cls-3" x="354.32" y="29.6" width="3.57" height="553.48"/><rect class="cls-4" x="365.76" y="29.6" width="3.56" height="553.48"/><rect class="cls-5" x="354.32" y="39.03" width="15" height="6.18"/><rect class="cls-5" x="354.32" y="567.47" width="15" height="6.18"/><path class="cls-6" d="M183.47,306.34c0,12.65-5,17.56-8.44,22.51-11,16-28.06,29.77-56.27,58s-49.05,50.89-60.39,80.69-6.21,77.66,4,87.83H320c10.15-10.17,15.29-58,4-87.83s-32.18-52.48-60.4-80.69-45.27-42-56.27-58c-3.4-5-8.44-9.86-8.44-22.51s5-17.56,8.44-22.53c11-16,28.06-29.76,56.27-58s49.06-50.9,60.4-80.69,6.19-77.68-4-87.84H62.33c-10.17,10.16-15.3,58-4,87.84s32.17,52.46,60.39,80.69,45.28,42,56.27,58C178.43,288.78,183.47,293.68,183.47,306.34Z"/><path class="cls-7" d="M118.76,225.84c28.21,28.21,45.28,42,56.27,58,3.37,4.91,8.33,9.8,8.42,22.21a.22.22,0,0,1,0-.11c.68-12.64-4.07-17.8-7.2-23-10.09-16.6-26.37-31.25-53-61s-46.18-53.5-55.86-83.87C59.16,112.24,63.56,74,71.66,57.31H62.33c-10.17,10.16-15.3,58-4,87.84S90.54,197.61,118.76,225.84Zm64.69,80.8c-.09,12.41-5,17.31-8.42,22.22-11,16-28.06,29.76-56.27,58s-49.05,50.89-60.39,80.69-6.21,77.67,4,87.83h9.33c-8.1-16.74-12.5-54.93-4.25-80.79,9.68-30.37,29.23-54.16,55.86-83.87s42.91-44.39,53-61c3.13-5.14,7.88-10.31,7.2-22.95A.23.23,0,0,1,183.45,306.64Z"/><path class="cls-8" d="M323.92,145.15c11.33-29.8,6.19-77.68-4-87.84h-9.34c8.1,16.73,12.5,54.93,4.25,80.79C305.18,168.47,285.63,192.25,259,222s-42.9,44.39-53,61c-3.14,5.15-7.89,10.31-7.2,23a.45.45,0,0,1,0,.11c.07-12.41,5-17.3,8.41-22.21,11-16,28.06-29.76,56.27-58S312.58,174.94,323.92,145.15ZM198.81,306.76c-.69,12.64,4.06,17.81,7.2,22.95,10.09,16.6,26.37,31.25,53,61s46.18,53.5,55.87,83.87c8.25,25.86,3.85,64.05-4.25,80.79H320c10.15-10.16,15.29-58,4-87.83s-32.18-52.48-60.4-80.69-45.27-42-56.27-58c-3.38-4.91-8.34-9.81-8.41-22.22A.42.42,0,0,1,198.81,306.76Z"/><path class="cls-9" d="M185.89,294.33c-3.86-19.05-7.55-30.6-30.06-73.14s-35.73-67.62-38.2-100.09,4-47.4,15.13-63.79H83c-10.4,15.1-13.31,49-2.68,80.18S126,200.86,148.4,229.92s33.4,50,36.17,64.08c.8,4,1.78,7.14,1.78,12.34s-1,8.3-1.78,12.33c-2.77,14.11-13.79,35-36.17,64.07S91,444,80.33,475.18,72.61,540.25,83,555.36h49.75c-11.1-16.39-17.58-31.33-15.13-63.8s15.7-57.54,38.2-100.08,26.2-54.09,30.06-73.13c.7-3.48,1.71-6.86,1.71-12S186.59,297.8,185.89,294.33Z"/><path class="cls-10" d="M196.38,294.33c3.86-19.05,7.57-30.6,30.06-73.14s35.74-67.62,38.21-100.09-4-47.4-15.13-63.79h49.75c10.4,15.1,13.31,49,2.68,80.18s-45.69,63.37-68.06,92.43-33.42,50-36.18,64.08c-.8,4-1.78,7.14-1.78,12.34s1,8.3,1.78,12.33c2.76,14.11,13.79,35,36.18,64.07S291.31,444,302,475.18s7.72,65.07-2.68,80.18H249.52C260.61,539,267.1,524,264.65,491.56S248.94,434,226.44,391.48s-26.2-54.09-30.06-73.13c-.7-3.48-1.72-6.86-1.72-12S195.68,297.8,196.38,294.33Z"/><path class="cls-2" d="M324.17,39V53.09A4.23,4.23,0,0,1,320,57.31H62.32a4.24,4.24,0,0,1-4.22-4.22V39Z"/><rect class="cls-3" x="58.1" y="39.03" width="266.07" height="7.6"/><path class="cls-3" d="M320,57.31H62.32a21.49,21.49,0,0,0-4,6.72H324A21.49,21.49,0,0,0,320,57.31Z"/><path class="cls-5" d="M58.1,39V53.09a4.24,4.24,0,0,0,4.22,4.22h9.37A105.4,105.4,0,0,1,80,39Z"/><path class="cls-4" d="M324.17,39V53.09A4.23,4.23,0,0,1,320,57.31h-9.37A106.18,106.18,0,0,0,302.28,39Z"/><path class="cls-5" d="M240.07,39c.35,3,4.38,11.72,9.44,18.28h49.75c-3.4-7.42-6.75-14.27-9.65-18.28Z"/><path class="cls-11" d="M142.21,39c-.36,3-4.4,11.72-9.45,18.28H83C86.4,49.89,89.76,43,92.66,39Z"/><path class="cls-2" d="M324.17,573.65V559.58a4.22,4.22,0,0,0-4.21-4.22H62.32a4.23,4.23,0,0,0-4.22,4.22v14.07Z"/><rect class="cls-3" x="58.1" y="566.04" width="266.07" height="7.61"/><path class="cls-3" d="M320,555.36H62.32a21.49,21.49,0,0,1-4-6.72H324A21.68,21.68,0,0,1,320,555.36Z"/><path class="cls-5" d="M58.1,573.65V559.58a4.23,4.23,0,0,1,4.22-4.22h9.37A105.88,105.88,0,0,0,80,573.65Z"/><path class="cls-4" d="M324.17,573.65V559.58a4.22,4.22,0,0,0-4.21-4.22h-9.37a106.66,106.66,0,0,1-8.31,18.29Z"/><path class="cls-5" d="M240.07,573.65c.35-3,4.38-11.74,9.44-18.29h49.75c-3.4,7.42-6.75,14.26-9.65,18.29Z"/><path class="cls-11" d="M142.21,573.65c-.36-3-4.4-11.74-9.45-18.29H83c3.39,7.42,6.75,14.26,9.65,18.29Z"/><path class="cls-12" d="M373.84,39H8.44A8.44,8.44,0,0,1,0,30.6V8.44A8.44,8.44,0,0,1,8.44,0h365.4a8.44,8.44,0,0,1,8.44,8.44V30.6A8.44,8.44,0,0,1,373.84,39Z"/><path class="cls-5" d="M12.65,30.6V8.44A8.45,8.45,0,0,1,21.09,0H8.44A8.44,8.44,0,0,0,0,8.44V30.6A8.44,8.44,0,0,0,8.44,39H21.09A8.45,8.45,0,0,1,12.65,30.6Z"/><path class="cls-4" d="M369.62,30.6V8.44A8.44,8.44,0,0,0,361.19,0h12.65a8.44,8.44,0,0,1,8.44,8.44V30.6A8.44,8.44,0,0,1,373.84,39H361.19A8.44,8.44,0,0,0,369.62,30.6Z"/><rect class="cls-11" x="84.23" width="49.55" height="39.03"/><rect class="cls-5" x="248.5" width="49.54" height="39.03"/><path class="cls-12" d="M373.84,573.65H8.44A8.43,8.43,0,0,0,0,582.08v22.15a8.43,8.43,0,0,0,8.44,8.43h365.4a8.43,8.43,0,0,0,8.44-8.43V582.08A8.43,8.43,0,0,0,373.84,573.65Z"/><path class="cls-5" d="M12.65,582.08v22.15a8.44,8.44,0,0,0,8.44,8.43H8.44A8.43,8.43,0,0,1,0,604.23V582.08a8.43,8.43,0,0,1,8.44-8.43H21.09A8.43,8.43,0,0,0,12.65,582.08Z"/><path class="cls-4" d="M369.62,582.08v22.15a8.43,8.43,0,0,1-8.43,8.43h12.65a8.43,8.43,0,0,0,8.44-8.43V582.08a8.43,8.43,0,0,0-8.44-8.43H361.19A8.42,8.42,0,0,1,369.62,582.08Z"/><rect class="cls-11" x="84.23" y="573.65" width="49.55" height="39.01"/><rect class="cls-5" x="248.5" y="573.65" width="49.54" height="39.01"/></g></g></g></g></svg>
</div>

{% schema %}
{
  "name": "Hourglass",
  "settings": [
    { "type": "header", "content": "Colors" },
    { "type": "color", "id": "bg_color", "label": "Background color", "default": "#6ca2ba" },
    { "type": "color", "id": "text_color", "label": "Text/sand color", "default": "#ffc12f" },
    { "type": "header", "content": "Animation" },
    { "type": "range", "id": "anim_duration", "label": "Animation duration (seconds)", "min": 1, "max": 30, "step": 1, "unit": "s", "default": 10 },
    { "type": "range", "id": "font_size", "label": "Font size (px)", "min": 6, "max": 20, "step": 1, "unit": "px", "default": 9 }
  ],
  "presets": [
    { "name": "Hourglass", "category": "Custom" }
  ]
}
{% endschema %}